body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

header{
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #0B87A6;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background: #fff;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsive CSS */

@media screen and (max-width: 780px){
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #19B3D3;
  }

  .mobile_nav_items{
    background: #2F323A;
    display: none;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }
}
.card{

  height:80%;
  background-color:  #22242A;
}
.card1
{
  height:30%;
  background-color: #22242A;
}
.dash
{
  height:30%;
  width: 30%;
  background-color: #fff; 
}

  .skills
  {
    width:700px;
    margin:10px auto ;
    color:black;
  }
  .skills li{
    margin:10px 0;
  }
  .bar{
    background: #353b48;
    display: block;
    height:2px;
    border:6px solid rgba(0,0,0,0.3);
    border-radius:1px;
    overflow:hidden;
    box-shadow:0 0 10px #2187e7b3

  }
  .bar span{
    height:10px;
   
    float:left;
    background: #21e753;
  }
  .html
  {
    width:90%;
  }
  .bar span:hover
  {
background: red;
  }
  .Angular
  {
    width:70%;
  }
  .Nodejs
  {
    width:80%;
  }
  .Javascript
  {
    width:50%;
  }
  .css
  {
    width:65%;
  }           
.jquery
{
  width:50%;
}
.js5
{
  width:70%;
}            
  @keyframes html{
  0%{
width:0%;
  }
  100%
  {
    width:65%;
  }
}
@keyframes css{
  0%{
width:0%;
  }
  100%
  {
    width:90%;
  }
}
@keyframes jquery{
  0%{
width:0%;
  }
  100%
  {
    width:90%;
  }
}
@keyframes javascript{
  0%{
width:0%;
  }
  100%
  {
    width:89%;
  }
}
@keyframes Angular{
  0%{
width:0%;
  }
  100%
  {
    width:90%;
  }
}
@keyframes Nodejs{
  0%{
width:0%;
  }
  100%
  {
    width:60%;
  }
}
.wrapper
{
  width:100%;
  padding:0 20px;
}
.contact-form
{
  max-width:610px;
  margin:0px auto;
  
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 14px;
}
.input-fields
{
  display:flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg{
  width:48%;
}
.input-fields .input ,
.msg{
  margin: 1px 0;
background:transparent;
border:0;
border-bottom: 2px solid #c5ecfd;
padding:10px;
width:100%;
color:#c5ecfd;
}
.msg textarea
{
  height: 227px;
  width:360px;
}
::-webkit-input-placeholder{
  color:black;
}
.btn{
background: red;
text-align: center;
padding: 15px;
border-radius: 5px;
color:#fff;
cursor:pointer;
text-transform: uppercase;
}
.btn:hover{
  background: #2187e7b3;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 5px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 30px;
}
.border{
  width: 160px;
  height: 2px;
  background: #82ccdd;
  margin: 10px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color: #82ccdd;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: red;
  color: #ddd;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}

@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}

