<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Sidebar Dashboard Template</title>
  <!-- new link for chart-->
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>

    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Seceon <span>Network</span></h3>
      </div>
      
      
      
      
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="1.png" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="#"><i class="fas fa-desktop"></i><span>Security</span></a>
        <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
        <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
        <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
        <a href="#"><i class="fas fa-desktop"></i><span>Security</span></a>
        <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
      
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      
      <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      
      <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
      <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
      <a href="#"><i class="fas fa-cogs"></i><span>Charts</span></a>
      <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
      
    
    </div>
    <!--sidebar end-->

    <div class="content">
      <h2 >Performance Dashboard Design </h2>
  
 
     
      <div class="card">
      
          <h1 style="background:#24a2d8 ;height:52px"><i class="fas fa-desktop"></i><span>Dashboard</span></h1>
        
          <div class="services-section">
            <div class="inner-width">
              <h1 class="section-title">Our Dashboard</h1>
              <div class="border"></div>
              <div class="services-container">
      
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fas fa-paint-brush"></i>
                  </div>
                  <div class="service-title">Web Designs</div>
                  <div class="service-desc">
                    Lorem ipsum do. Et eaque ratione rem porro, nihil.
                   
                  </div>
                </div>
      
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fas fa-code"></i>
                  </div>
                  <div class="service-title">Web Development</div>
                  <div class="service-desc">
                    Lorem ipsum do. Et eaque ratione rem porro, nihil.
                   
                  </div>
                </div>
      
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fas fa-brush"></i>
                  </div>
                  <div class="service-title">Responsive Designs</div>
                  <div class="service-desc">
                    Lorem ipsum do. Et eaque ratione rem porro, nihil.
                    
                  </div>
                </div>
      
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fas fa-object-ungroup"></i>
                  </div>
                  <div class="service-title">EDIT SECTION</div>
                  <div class="service-desc">
                    Lorem ipsum do. Et eaque ratione rem porro, nihil.
                   
                  </div>
                </div>
      
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fas fa-database"></i>
                  </div>
                  <div class="service-title">DATABASE</div>
                  <div class="service-desc">
                    Lorem ipsum do. Et eaque ratione rem porro, nihil.
                    
                  </div>
                </div>
      
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fab fa-android"></i>
                  </div>
                  <div class="service-title">ANDROID</div>
                  <div class="service-desc">
                    Lorem ipsum do. Et eaque ratione rem porro, nihil.
                    
                  </div>
                </div>
      
               
      
               
      
                
            
              </div>
            </div>
          </div>
      </div>
      <br>
      
      <div class="card">
        <h1 style="background:#24a2d8 ;height:53px"><i class="fas fa-table"></i><span>Tables</span></h1>
        <div class="inner-width">
          <h1 class="section-title">Our Tables</h1></div>  <div class="border"></div>
        <div class="filter">

        </div>
        <br>
       
        <table border="1" width="80%" align="center" >
       
        
       
        <tr align="center" style="color:blanchedalmond">
       
        <th align="center">#</th>
       
        <th>Nom</th>
       
        <th>Prenom</th>
       
        <th>identifiant </th>
       
        <th>date de naissance </th>
       
        <th>salaire</th>
       
        </tr>
       
       
         <tr bgcolor="white">
       
        <td align="center">1</td>
       
        <td align="center">Jean</td>
       
        <td align="center"> leBon</td>
       
        <td align="center"> 1368</td>
       
        <td align="center"> 18 Nov 1962</td>
       
        <td align="center">5000$</td>
       
        </tr>
       
        <tr style="color:blanchedalmond">
       
        <td align="center">2</td>
       
        <td align="center">jack</td>
       
        <td align="center">Duppont</td>
       
        <td align="center">1368</td>
       
        <td align="center">18 Dec 1962</td>
       
        <td align="center">2000$</td>
       
        </tr>
       
        <tr  bgcolor="white">
       
        <td align="center">3</td>
       
        <td align="center">Jean</td>
       
        <td align="center">leBon</td>
       
        <td align="center">1368</td>
       
        <td align="center">18 Nov 1972</td>
       
        <td align="center">4200$</td>
       
        </tr>
       
        <tr style="color:blanchedalmond">
       
        <td align="center" >4</td>
       
        <td align="center">Nadia</td>
       
        <td align="center">leBon</td>
       
        <td align="center">1368</td>
       
        <td align="center">18 Mar 1982</td>
       
        <td align="center">6300$</td>
       
        </tr>
       
        <tr  bgcolor="white">
       
        <td align="center">5</td>
       
        <td align="center"> Nadia</td>
       
        <td align="center">leBon</td>
       
        <td align="center">1368</td>
       
        <td align="center">18 Mar 1982</td>
       
        <td align="center">6300$</td>
       
        </tr>
       
        <tr style="color:blanchedalmond">
       
        <td align="center">6</td>
       
        <td align="center">Nadia</td>
       
        <td align="center">leBon</td>
       
        <td align="center">1368</td>
       
        <td align="center">18 Mar 1982</td>
       
        <td align="center">6300$</td>
       
        </tr>
       
        <tr>
       
          <tr  bgcolor="white">
       
            <td align="center">7</td>
           
            <td align="center"> Nadia</td>
           
            <td align="center">leBon</td>
           
            <td align="center">1368</td>
           
            <td align="center">18 Mar 1982</td>
           
            <td align="center">6300$</td>
           
            </tr>
            <tr style="color:blanchedalmond">
       
              <td align="center">6</td>
             
              <td align="center">Nadia</td>
             
              <td align="center">leBon</td>
             
              <td align="center">1368</td>
             
              <td align="center">18 Mar 1982</td>
             
              <td align="center">6300$</td>
             
              </tr>
             
              <tr>
             
                <tr  bgcolor="white">
             
                  <td align="center">7</td>
                 
                  <td align="center"> Nadia</td>
                 
                  <td align="center">leBon</td>
                 
                  <td align="center">1368</td>
                 
                  <td align="center">18 Mar 1982</td>
                 
                  <td align="center">6300$</td>
                 
                  </tr>
                  <tr style="color:blanchedalmond">
       
                    <td align="center">6</td>
                   
                    <td align="center">Nadia</td>
                   
                    <td align="center">leBon</td>
                   
                    <td align="center">1368</td>
                   
                    <td align="center">18 Mar 1982</td>
                   
                    <td align="center">6300$</td>
                   
                    </tr>
                   
                    <tr>
                   
                      <tr  bgcolor="white">
                   
                        <td align="center">7</td>
                       
                        <td align="center"> Nadia</td>
                       
                        <td align="center">leBon</td>
                       
                        <td align="center">1368</td>
                       
                        <td align="center">18 Mar 1982</td>
                       
                        <td align="center">6300$</td>
                       
                        </tr>
        </table>
       
      </div>
      <br>
      <div class="card">
        <h1 style="background:#24a2d8 ;height:50px"><i class="fas fa-th"></i><span>Forms</span></h1>
        <div class="inner-width">
          <h1 class="section-title">Contact Us</h1></div>  <div class="border"></div>
        <div class="container12">
    
    <!-- form start -->
  <div class="my-form">
    <div class="form-title">
      
    </div>
    <br>
    <!-- main form -->
    <div class="wrapper">
    <div class="contact-form">
      <div class="input-fields">
        <input type="text" class="input" placeholder="First Name">
        
        <input type="text" class="input" placeholder="Last Name" color="white">
        <input type="text" class="input" placeholder="Email Address">
     
        <input type="text" class="input" placeholder="Mobile no">
        <input type="text" class="input" placeholder="Email_address">
        <input type="text" class="input" placeholder="Alternate Mobile no">
        <input type="text" class="input" placeholder="Subject">
      </div>
      <div class="msg">
        <textarea placeholder="Message"></textarea>
        <div class="btn" (click)="loginfunction()">send</div>
      </div>
    </div>
  </div>
  </div>


</div>
      </div> <br>
      <div class="card">
        
        <h1 style="background:#24a2d8 ;height:50px"><i class="fas fa-cogs"></i><span>Charts</span></h1>
        <div class="inner-width">
          <h1 class="section-title">Our Charts</h1></div>  <div class="border"></div>
        <div class="skills">
        
          <li>
            <h3 style="color:blanchedalmond">HTML5</h3> <span class="bar"><span class="html"></span></span>
             </li>
          
          <li>
            <h3 style="color:blanchedalmond">css3</h3><span class="bar"><span class="css"></span></span>
          </li>
          <li>
            <h3 style="color:blanchedalmond">jquery</h3><span class="bar"><span class="jquery"></span></span>
          </li>
          <li>
            <h3 style="color:blanchedalmond">Javascript</h3><span class="bar"><span class="Javascript"></span></span>
          </li>
          <li>
            <h3 style="color:blanchedalmond">Angular</h3><span class="bar"><span class="Angular"></span></span>
          </li>
          
          
        </div>
        </div>
        
        
      <div class="card">
        <h1 style="background:#24a2d8 ;height:50px ; margin-top: 10px;"><i class="fas fa-info-circle"></i><span>About</span></h1>
        <div class="inner-width">
          <h1 class="section-title">About Us</h1></div>  <div class="border"></div>
        
   <h3 style="color:blanchedalmond">Seceon is laser focused on detecting and eradicating cyber security threats in real-time.
    Seceon's approach is to apply advanced data collection and analysis, machine learning and patent-pending predictive behavioral analytics to detect threats –Businesses and organizations have seen rampant and unstoppable computer network security breaches become everyday news. Security breaches can go undetected for days, months and years, despite businesses deploying today’s best cyber security solutions and employing armies of trained professionals to manage those solutions. More often than not, threats and data breaches are detected after the damage is done. Worse yet, 90% of businesses can't afford these expensive solutions. Today’s businesses and government organizations need a cost effective, fully automated solution that eliminates threats in real-time.</h3>
    <h3 style="color:blanchedalmond">Seceon is laser focused on detecting and eradicating cyber security threats in real-time.
      Seceon's approach is to apply advanced data collection and analysis, machine learning and patent-pending predictive behavioral analytics to detect threats –Businesses and organizations have seen rampant and unstoppable computer network security breaches become everyday news. Security breaches can go undetected for days, months and years, despite businesses deploying today’s best cyber security solutions and employing armies of trained professionals to manage those solutions. More often than not, threats and data breaches are detected after the damage is done. Worse yet, 90% of businesses can't afford these expensive solutions. Today’s businesses and government organizations need a cost effective, fully automated solution that eliminates threats in real-time.</h3>   
  </div>
      
    </div>

 

  </body>
</html>
                           